@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	@apply bg-base-200;
}

::-webkit-scrollbar-thumb {
	@apply bg-base-300 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-base-content/20;
}
